<div class="container">
  <form class="form-inline" #form="ngForm" (ngSubmit)="addSession()" novalidate>
    <div class="form-group">
      <label for="dateFrom">Date From</label>
      <input autocomplete="off" type="text" class="form-control ml-1" [(ngModel)]="startDate"
      bsDatepicker
      [bsConfig]="bsConfig"
      style="width: 150px" id="dateFrom" name="startDate">
    </div>

    <div class="form-group ml-1">
        <label for="dateTo">Date To</label>
        <input autocomplete="off" type="text" class="form-control ml-1" [(ngModel)]="endDate"
        bsDatepicker
        [bsConfig]="bsConfig"
        style="width: 150px" id="dateTo" name="endDate">
      </div>

    <div class="form-group ml-1">
      <label for="name">Session Name</label>
      <input type="text" class="form-control ml-1" style="width: 150px" [(ngModel)]="name" id="name" name="name">
    </div>

    <button type="submit" class="btn btn-outline-primary" style="margin-left:10px"><i class="fa fa-plus-square"></i></button>
  </form>
  <br>
  <div class="row">
    <table class="table">
      <tr>
        <th style="width: 10%">ID</th>
        <th style="width: 15%">Session Name</th>
        <th style="width: 15%">Start Date</th>
        <th style="width: 15%">End Date</th>
        <th style="width: 15%">Created By</th>
        <th style="width: 15%">Created On</th>
        <th style="width: 15%">Action</th>
      </tr>
      <tr *ngFor="let session of sessions">
        <td>{{session.id}}</td>
        <td>{{session.name}}</td>
        <td>{{session.startDate|date:'mediumDate'}}</td>
        <td>{{session.endDate|date:'mediumDate'}}</td>
        <td>{{session.createdBy}}</td>
        <td>{{session.createdOn|date:'mediumDate'}}</td>
        <td>
          <button class="btn btn-outline-info" (click)="editSessionModal(session)"><i class="fa fa-edit"></i></button>
          <button class="btn btn-outline-danger ml-2" (click)="deleteSession(session.id)"><i class="fa fa-times" ></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>
