<form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
  <div class="row justify-content-center mt-5">
    <div class="col-4">
      <h2 class="text-center">Change Password</h2>
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid':
              passwordChangeForm.get('oldPassword').errors &&
              passwordChangeForm.get('oldPassword').touched
          }"
          type="password"
          class="form-control"
          formControlName="oldPassword"
          placeholder="Old Password"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            passwordChangeForm.get('oldPassword').hasError('required') &&
            passwordChangeForm.get('oldPassword').touched
          "
        >
          Password is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            passwordChangeForm.get('oldPassword').hasError('minlength') &&
            passwordChangeForm.get('oldPassword').touched
          "
        >
          Old password must be at least 4 characters
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            passwordChangeForm.get('oldPassword').hasError('maxlength') &&
            passwordChangeForm.get('oldPassword').touched
          "
        >
          Old password can't exceed 8 characters
        </div>
      </div>
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid':
              passwordChangeForm.get('newPassword').errors &&
              passwordChangeForm.get('newPassword').touched
          }"
          type="password"
          class="form-control"
          formControlName="newPassword"
          placeholder="New Password"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            passwordChangeForm.get('newPassword').hasError('required') &&
            passwordChangeForm.get('newPassword').touched
          "
        >
          New password is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            passwordChangeForm.get('newPassword').hasError('minlength') &&
            passwordChangeForm.get('newPassword').touched
          "
        >
          New password must be at least 4 characters
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            passwordChangeForm.get('newPassword').hasError('maxlength') &&
            passwordChangeForm.get('newPassword').touched
          "
        >
          New password can't exceed 8 characters
        </div>
      </div>

      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid':
              (passwordChangeForm.get('confirmPassword').errors &&
                passwordChangeForm.get('confirmPassword').touched) ||
              (passwordChangeForm.get('confirmPassword').touched &&
                passwordChangeForm.hasError('mismatch'))
          }"
          type="password"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Confirm password"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            passwordChangeForm.get('confirmPassword').hasError('required') &&
            passwordChangeForm.get('confirmPassword').touched
          "
        >
          Confirmation is required
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            passwordChangeForm.hasError('mismatch') &&
            passwordChangeForm.get('confirmPassword').touched
          "
        >
          Passwords don't match
        </div>
      </div>
      <div class="form-group text-center">
        <button
          class="btn btn-success"
          [disabled]="!passwordChangeForm.valid"
          type="submit"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
