/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/bootswatch/dist/superhero/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #E95420;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #E95420;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  /* background-color: #fff; */
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.roudedBtn {
  border-radius: 18px;
}

.navbar-nav .active>.nav-link {
  color: #fd7607 !important;
  font-weight: bolder;
  font-size: 15px;
}
.navbar-nav .active>.nav-link:hover{
  color: white !important;
}

.bg-one{
  display: block;
  position: fixed;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(./assets/one.JPG);
  background-size: cover;
  height: 100%;
  z-index: -2;
  width: 100%;
}

.bg-two{
  display: block;
  position: fixed;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(./assets/two.JPG);
  background-size: cover;
  height: 100%;
  z-index: -2;
  width: 100%;
}

.bg-three{
  display: block;
  position: fixed;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(./assets/three.JPG);
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -2;
}
.bg-four{
  display: block;
  position: fixed;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(./assets/four.JPG);
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -2;

}
.bg-five{
  display: block;
  position: fixed;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(./assets/five.JPG);
  background-size: cover;
  height: 100%;
  z-index: -2;
  width: 100%;
}
.bg-six{
  display: block;
  position: fixed;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(./assets/six.JPG);
  background-size: cover;
  height: 100%;
  z-index: -2;
  width: 100%;
}
.bg-seven{
  display: block;
  position: fixed;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(./assets/seven.JPG);
  background-size: cover;
  height: 100%;
  z-index: -2;
  width: 100%;
}
.bg-eight{
  display: block;
  position: fixed;
  background:linear-gradient(0deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(./assets/eight.JPG);
  background-size: cover;
  height: 100%;
  z-index: -2;
  width: 100%;
}

.trkPT150{
  padding-top: 55px;
}

