<div *ngIf="pagination.totalItems>0">
  <div class="row">
    <div class="col-12 text-center mt-3">
      <h2>{{pagination.totalItems}} reviews found
        <span>
            <a [routerLink]="['/reviews/add']" routerLinkActive="router-link-active"  class="btn btn-primary roudedBtn">Add Reviews</a>
        </span>
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table">
        <tr>
          <th style="width: 15%">Pen Name</th>
          <th style="width: 50%">Review Title</th>
          <th style="width: 10%">Date</th>
          <th style="width: 10%">Book Asin</th>
          <th style="width: 10%">Country</th>
          <th style="width: 5%">Delete</th>
        </tr>
        <tr *ngFor="let review of reviews">
          <td>{{review.penName}}</td>
          <td>{{review.reviewTitle}}</td>
          <td>{{review.reviewDate|date:'mediumDate'}}</td>
          <td>{{review.bookAsin}}</td>
          <td>{{review.country|uppercase}}</td>
          <td><button (click)="deleteReview(review)" class="btn  btn-outline-danger"><i class="fa fa-trash"></i></button></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage" [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
    [maxSize]="5" [rotate]="false"></pagination>
  </div>
</div>
<div *ngIf="pagination.totalItems==0" class="text-center mt-3">
  <h2>No reviews found</h2>
</div>

