<div class="bg-one"></div>
<div class="container mt-1">
  <h3 class="text-center text-bold text-info">Icons used for Labels</h3>
  <div class="row">
    <div class="col-6 text-center">
      <h4>
        <i class="fa fa-search-minus"></i
        ><span class="label-icon"> Apply Filter</span>
      </h4>
      <h4>
        <i class="fa fa-minus-circle"></i
        ><span class="label-icon"> Reset Filter</span>
      </h4>
      <h4>
        <i class="fa fa-bolt"></i><span class="label-icon"> Last Active</span>
      </h4>
      <h4>
        <i class="fa fa-id-badge"></i><span class="label-icon"> Newest</span>
      </h4>
      <h4>
        <i class="fa fa-plus-square"></i
        ><span class="label-icon"> Add Something to Collection</span>
      </h4>
      <h4>
        <i class="fa fa-hourglass-start"></i
        ><span class="label-icon"> Date From</span>
      </h4>
      <h4>
        <i class="fa fa-hourglass-end"></i
        ><span class="label-icon"> Date To</span>
      </h4>
      <h4>
        <i class="fa fa-flag"></i><span class="label-icon"> Country</span>
      </h4>
      <h4>
        <i class="fa fa-list-ol"></i><span class="label-icon"> Book Asin</span>
      </h4>
      <h4>
        <i class="fa fa-address-book"></i
        ><span class="label-icon"> Pen Name</span>
      </h4>
    </div>
    <div class="col-6 text-center">
      <h4>
        <i class="fa fa-trash"></i><span class="label-icon"> Delete</span>
      </h4>
      <h4>
        <i class="fa fa-check-square"></i
        ><span class="label-icon"> Status</span>
      </h4>
      <h4><i class="fa fa-edit"></i><span class="label-icon"> Edit</span></h4>
      <h4>
        <i class="fa fa-check-circle"></i
        ><span class="label-icon"> Mark as Complete</span>
      </h4>
      <h4>
        <i class="fa fa-history"></i><span class="label-icon"> Assignment</span>
      </h4>
      <h4>
        <i class="fa fa-amazon"></i><span class="label-icon"> Review</span>
      </h4>
      <h4><i class="fa fa-user"></i><span class="label-icon"> Member</span></h4>
      <h4>
        <i class="fa fa-calendar"></i><span class="label-icon"> Session</span>
      </h4>
      <h4>
        <i class="fa fa-envelope"></i><span class="label-icon"> Message</span>
      </h4>
      <h4>
        <i class="fa fa-times"></i><span class="label-icon"> Close</span>
      </h4>
    </div>
  </div>
</div>
