.dropdown-toggle,.dropdown-item{
  cursor: pointer;
}
img{
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}
.navbar-brand{
  color: #f5d442;
}

a:hover,.active:hover{
  color: white;
}

.min70 {
  min-height: 55px;
}
