<div class="container mt-2">
  <h2 class="text-center">Admin Panel</h2>
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="Roles" *appHasRole="['Admin']">
        <div class="container">
            <app-user-management></app-user-management>
        </div>
      </tab>
      <tab heading="Create account" *appHasRole="['Admin','Moderator']">
          <div class="row justify-content-center">
              <div class="col-4">
                <app-register></app-register>
              </div>
            </div>
      </tab>
      <tab heading="Sessions" *appHasRole="['Admin','Moderator']">
        <app-session-management></app-session-management>
      </tab>
      <tab heading="Payments" *appHasRole="['Admin','Moderator']">
        Payments will go here
      </tab>
      <tab heading="Delete" *appHasRole="['Admin','Moderator']">
          Delete Reviews will go here<br>
          Delete Messages will also go here
      </tab>
    </tabset>
  </div>
</div>
